################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FSL.DynamicAndFriendlyUrlUsingMvc/bin
/FSL.DynamicAndFriendlyUrlUsingMvc/obj/Debug
/FSL.DynamicAndFriendlyUrlUsingMvc/FSL.DynamicAndFriendlyUrlUsingMvc.csproj.user
/packages
